<!DOCTYPE html>
<html>
<head>
    <title>Angel</title>
    <link rel="icon" href="/images/favicon.png">
</head>
<body>
<div class="container">
    <div class="content">
        <div class="title">Angel</div>
    </div>
</div>
</body>
</html>
